.Login_form{
    width: 100%;
    height: 100%;
    height: 600px;
    display: grid;
    place-items: center;
    margin-top: 50px;
}
.Login_formData{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.Login_formData h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.Login_formData label{
    color: black;
    margin-bottom: 10px;
    font-weight: 600;
}
.Login_formData input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.Login_formData button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}
.Login_formData button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
@media screen and (max-width: 600px){
    .Login_formData{
        width: 90%;
        
    }
}
    